p.mbr-timeline-date.mbr-fonts-style {
    background-color: paleturquoise;
    border-radius: 1em;
}

.timeline-text-content {
    background-color: placethisifyouwantone !important;
    border-radius: 1em;
}

#ava-card-img {
    height: 224px;
}